<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>About Us</title>
	<style>
		ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #333;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}

		li a:hover:not(.active) {
		  background-color: #111;
		}

		.active {
		  background-color: #4CAF50;
		}
	</style>
</head>
<body>
	
	<ul>
		<li><a href="/"> Home </a></li>
		<li><a href="{{url_for('store')}}"> Store </a> </li>
		<li style="float: right;" class="active"><a href="{{url_for('about')}}" > About </a></li>
	</ul>
	<br><br>
	<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	  max-width: 300px;
	  margin: auto;
	  text-align: center;">
	  <h1>Noor Ali</h1>
	  <p class="title" style="color: grey;
	  font-size: 18px;">Founder</p>
	  <p>MIT University</p>
	  <a href="#"><i class="fa fa-dribbble"></i></a>
	  <a href="#"><i class="fa fa-twitter"></i></a>
	  <a href="#"><i class="fa fa-linkedin"></i></a>
	  <a href="#"><i class="fa fa-facebook"></i></a>
	  <p><button style="border: none;
	  outline: 0;
	  display: inline-block;
	  padding: 8px;
	  color: white;
	  background-color: #000;
	  text-align: center;
	  cursor: pointer;
	  width:100%;
	  font-size: 18px;">Contact</button></p>
	</div>


</body>
</html>